@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

$red: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);
$white: hsl(0, 0%, 100%);
$paleblue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$darkgray: hsl(224, 30%, 27%);
$gradbg1: hsl(252, 100%, 67%);
$gradbg2: hsl(241, 81%, 54%);
$gradcir1: hsla(256, 72%, 46%, 1);
$gradcir2: hsla(241, 72%, 46%, 0);

html {
  font-size: 18px;
  display: grid;
  min-height: 100vh;
  place-items: center;
  * {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
.result {
  display: flex;
  width: 40rem;
  height: 28rem;
  border-radius: 5%;
  box-shadow: 10px 10px 50px $paleblue;
  .score {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 28rem;
    background: linear-gradient($gradbg1, $gradbg2);
    .score-title {
      color: $lavender;
      font-size: 1.2rem;
    }
    .score-circle {
      display: flex;
      margin: 2rem 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient($gradcir1, $gradcir2);
      width: 11rem;
      height: 11rem;
      border-radius: 50%;
      .score-value {
        color: $white;
        font-size: 4rem;
        font-weight: 800;
      }
      .score-total {
        color: $lavender;
      }
    }
    .score-text {
      color: $white;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .score-description {
      width: 13rem;
      text-align: center;
      color: $lavender;
    }
  }
  .summary {
    width: 16rem;
    height: 24rem;
    padding: 2rem;
    .summary-title {
      font-size: 1.2rem;
      font-weight: 800;
      margin-bottom: 2rem;
    }
    .summary-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      height: 1rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      &.reaction {
        color: $red;
        background-color: rgba($red, 0.1);
      }
      &.memory {
        color: $orange;
        background-color: rgba($orange, 0.1);
      }
      &.verbal {
        color: $green;
        background-color: rgba($green, 0.1);
      }
      &.visual {
        color: $blue;
        background-color: rgba($blue, 0.1);
      }
      h3 {
        font-weight: 700;
        font-size: 1rem;
      }
      p {
        color: rgba($darkgray, 0.5);
        font-size: 1rem;
        strong {
          color: $darkgray;
          font-weight: 700;
        }
      }
    }
    .summary-btn {
      margin: 1rem 0;
      width: 16rem;
      height: 3rem;
      border-radius: 50px;
      color: $white;
      font-size: 1rem;
      background-color: $darkgray;
      cursor: pointer;
    }
  }
}